body  {
    background-image: url("../images/sunset.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 400px;
    
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

img:hover {
    
    width: 1000px;
    
}
